<div class="col-md-12">
    <h4>I used 2 fonts which were downloaded from <a class="no-deco" href="http://www.fontspace.com/">fontspace.com/</a>:</h4>
    <ul>
        <li>
            <h4>DKCrayonCrumble - Designed by <a class="no-deco" href="http://www.fontspace.com/profile/hanoded">David Kerkhoff</a></h4>
        </li>
        <li>
            <h4 class="font-sketch">KGSecondChancesSketch - Designed by <a class="no-deco" href="http://www.fontspace.com/profile/mamakimberly">Kimberly Geswein</a></h4>
        </li>
    </ul>
       <h4>Sadly, they're not designed for Vietnamese :(</h4>
       <h5>(but I'll translate them when I have time)</h4>
</div>