<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <base href="/" />

    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/angular/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="/javascripts/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="/javascripts/angular-sanitize.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/services.js"></script>
    <!--Datepicker-->
    <script src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/bootstrap-datepicker.css" />

    <!--Font Awesome-->
    <link rel="stylesheet" href="/lib/font-awesome-4.6.1/css/font-awesome.css" />
    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.min.css' />
    <script src='/stylesheets/bootstrap/js/bootstrap.js'></script>
    <link rel='stylesheet' href='/stylesheets/app.css' />
</head>

<body ng-app='app'>
    <ui-view></ui-view>
</body>

</html>