<div class="margin-auto width-300 text-center" style="padding-top: calc(50% - 450px)">
    <h1 class="font-sketch">Hi there,</h1>
    <h2 class="font-sketch">please login</h2>
    <div class="padding-20">
        <table class="width-100-percent">
            <tr>
                <td class="text-right" width="70px">
                    <h4>username:&nbsp;</h4>
                </td>
                <td>
                    <input class="input-trans" />
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <h4>password:&nbsp;</h4>
                </td>
                <td>
                    <input class="input-trans" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn-trans" ui-sref="view.dashboard">
                        <h4>
                        login
                        </h4>
                        </button>
                </td>
            </tr>
        </table>
    </div>
</div>