<div id="left-navbar" class="col-md-4 col-sm-5 text-right">
    <a class="brand" ng-click="changeState(1)" href="">Junk Notices</a>
    <ul class="text-right">
        <li ng-click="changeState(1)">
            <a ng-class="state==1?'text-bold':''" href="">
                <b ng-show="state==1">-</b> Dashboard <b ng-show="state==1">-</b>
            </a>
        </li>
        <li ng-click="changeState(2)"><a ng-class="state==2?'text-bold':''" href="">
            <b ng-show="state==2">-</b> Learning Note <b ng-show="state==2">-</b></a></li>
        <li ng-click="changeState(3)"><a ng-class="state==3?'text-bold':''" href="">
            <b ng-show="state==3">-</b> About & Referrence <b ng-show="state==3">-</b></a></li>
        <li><a ui-sref="login">Log out</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
<div id="ui-container" class="col-md-8 col-sm-7">
    <ui-view></ui-view>
</div>